@charset "UTF-8";
.q5-1{
  background-color: #00bbdd;
  color: #fff;
  padding: 10px;
  margin: 20px;
  width: 65px;
}
.grope1{
  display: flex;
  text-align: center;
}
.grope2{
  display: flex;
  text-align: center;
  flex-direction: row-reverse;
}
.grope3{
  display: flex;
  text-align: center;
  flex-direction: column;
}
.grope4{
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
}
.grope5{
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
}
.grope6{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.grope7{
  display: flex;
  text-align: center;
  flex-wrap: wrap-reverse;
}
.grope8{
  display: flex;
  text-align: center;
  justify-content:flex-start;
}
.grope9{
  display: flex;
  text-align: center;
  justify-content:flex-end;
}
.grope10{
  display: flex;
  text-align: center;
  justify-content:center;
}
.grope11{
  display: flex;
  text-align: center;
  justify-content:space-between;
}
.grope12{
  display: flex;
  text-align: center;
  justify-content:space-around;
}
.q5-2{
  background-color: #00bbdd;
  color: #fff;
  padding: 10px;
}
.grope13{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
  margin:20px 0;
}
.grope14{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin:20px 0;
}
.grope15{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:200px 200px;
  gap: 10px;
  margin:20px 0;
}
.grope16{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;
  gap: 10px;
}
.item1{
  background-color:#dd0700;
  color: #fff;
  padding: 10px;
  grid-row: 1/2;
  grid-column: 1/3;
}
.item2{
  background-color: #00bbdd;
  color: #fff;
  padding: 10px;
  width: 80px;
  height: 80px;
}
.item3{
  background-color:#0bdd00;
  color: #fff;
  padding: 10px;
  grid-row: 2/4;
  grid-column: 1/2;
}
.item4{
  background-color:#d9dd00;
  color: #fff;
  padding: 10px;
  grid-row: 2/3;
  grid-column: 2/4;
}